<%- include('partials/header') %>
    <main>
        <div class="welcome-card">
            <h1>Welcome to the Service Network</h1>
            <p>Find opportunities to serve in your community.</p>
            
            <hr>
            <h2>Our Partners</h2>
            
            <div class="home-images">
                <img src="/images/brightfuture-logo.png" alt="Bright Future Logo">
                <img src="/images/greenharvest-logo.png" alt="Green Harvest Logo">
                <img src="/images/unityserve-logo.png" alt="Unity Serve Logo">
            </div>
        </div>
    </main>
<%- include('partials/footer') %>